* {
  box-sizing: border-box;
}
body {
  background: silver;
}

.red, .green, .blue {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 5px
}
.red { background: red; }
.green { background: green; }
.blue { background: blue; }

.grid {
  position: relative;
  margin: 0 auto;
  width: 320px;
  background: #030;
}
.grid .cell {
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: crosshair;
  height: 40px;
  width: 40px;
  border: 1px solid grey;
}
.cell[data-on=true] {
  background: red;
}
